.container {
    background: var(--background-color-tint);
    height: 100vh;
    overflow: hidden;
}

form {
    background: var(--background-color);
    color: var(--background-color-contrast);
    width: min(600px, 100%);
    height: 100%;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    > div,
    > label {
        margin: 10px auto;
        width: min(80%, 300px);
        display: flex;
        flex-flow: column-reverse nowrap;
        user-select: none;
    }

    > label {
        flex-flow: row nowrap;
    }
}

.logo {
    border-radius: 3px;
    margin: 0 auto 150px auto;
    user-select: none;
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
    position: relative;
    background: linear-gradient(45deg, var(--secondary-color), var(--secondary-color-tint) 80%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div > label {
    display: block;
    font-weight: 900;
    user-select: none;
    font-size: 1.2em;
    margin-top: 20px;
}

div > input {
    margin-inline: 0;
    width: 100%;
}

button {
    width: min(80%, 300px);
    margin-top: 50px;
    padding-top: 15px;
    margin-inline: auto;
    display: block;
    padding-bottom: 15px;
}

.feedback-error-message {
    color: var(--secondary-color);
    font-size: .9em;
}
