<div class="container">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <figure class="logo">ANGULAR</figure>

        <p class="feedback-error-message">{{ errorMessage }}</p>

        <div>
            <input id="username" type="text" formControlName="username" />
            <label for="username">Username:</label>
        </div>

        <div>
            <input id="password" type="password" formControlName="password" />
            <label for="password">Password:</label>
        </div>

        <label for="remember">
            <input id="remember" type="checkbox" formControlName="remember" />
            Remember me
        </label>
        <small>(if unchecked, it last the time of the session)</small>

        <button type="submit" [disabled]="cannotTryToLogin()">Login</button>
    </form>

</div>
